<template>
  <section class="about" id="about">
    <div class="about__item item-about">
      <div class="item-about__image"><img src="../assets/icon1.png" alt="image"></div>
      <div class="item-about__title">Who we are</div>
      <ul class="item-about__items">
        <li>It is a long established fact that a reader will be distracted</li>
        <li>The readable content of a page when looking at its layout</li>
        <li>The point of using Lorem Ipsum</li>
        <li>As opposed to using 'Content here, content here'.</li>
      </ul>
    </div>
    <div class="about__item item-about">
      <div class="item-about__image"><img src="../assets/icon2.png" alt="image"></div>
      <div class="item-about__title">What we do</div>
      <ul class="item-about__items">
        <li>Many desktop publishing packages and web page</li>
        <li>There are many variations of passages of Lorem Ipsum available, but the majority have </li>
        <li>Various versions have evolved over the years, sometimes by accident</li>
      </ul>
    </div>
    <div class="about__item item-about">
      <div class="item-about__image"><img src="../assets/icon3.png" alt="image"></div>
      <div class="item-about__title">Technology</div>
      <ul class="item-about__items">
        <li>The point of using Lorem Ipsum</li>
        <li>As opposed to using 'Content here, content here'</li>
        <li>Contrary to popular belief, Lorem Ipsum is not simply random text</li>
        <li>A Latin professor at Hampden-Sydney College in Virginia</li>
      </ul>
    </div>
  </section>
</template>

<style lang="scss" scoped>
  .about {
    max-width: 1006px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 11rem 0 0 0;

    &__item {
      width: calc(100% / 12 * 4);
    }
  }

  .item-about {
    padding: 0  2rem;

    &__image {
      margin-bottom: 2rem;
    }

    &__title {
      font-size: 3.6rem;
      font-weight: 700;
      margin-bottom: 3rem;
    }

    li {
      list-style: none;
      padding: 0 0 2rem 1rem;
      position: relative;

      &::before {
        content: '.';
        position: absolute;
        top: -.8rem;
        left: 0;
        font-size: 2rem;
      }
    }
  }
</style>