<template>
  <div class="comment">
    <div class="comment__title">{{ oneComment.title }}</div>
    <div class="comment__body">{{ oneComment.body }}</div>
    <div class="comment__link"> 
      <router-link :to="`comment/${oneComment.id}`">
        Read more
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    oneComment: {}
  }
}
</script>

<style lang="scss" scoped>
  .comment {
    width: calc(50% - 1rem);
    padding: 0 2rem;
    margin-bottom: 5rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    height: auto;

    &__title {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 3rem;
    }

    &__body {
      margin-bottom: 1rem;
    }

    &__link {
      width: 15rem;
      background-color: #60e3a1;
      padding: 2rem 3rem;
      border-radius: 4px;
      margin-bottom: 2rem;
      a {
        text-decoration: none;
        color: #111518;        
      }
    }
  }
</style>