<template>
    <div class="comment-form" :class="{'active': this.$route.path  !== '/'}" id="comment">
    <div v-if="modalEdited" class="comment-form__edit-modal">
      Comment has been changed
      <button @click="restartPage">Ok</button>
    </div>
    <div class="comment-form__title-comment">
      Edit comment
    </div>
    <div class="comment-form__wrap">
      <div class="comment-form__modal" v-if="modal">
        <div class="comment-form__modal-wrap">
          <span>Comment added</span>
          <button @click="modal = !modal">Ok</button>          
        </div>
      </div>
      <div class="comment-form__modal" v-if="invalidForm">
        <div class="comment-form__modal-wrap">
          <span>Cannot be empty!</span>
          <button @click="invalidForm = !invalidForm">Ok</button>          
        </div>
      </div>  
      <div class="comment-form__title" v-if="this.$route.path === '/'">
        Write <br> comment
      </div>
      <div class="comment-form__form">
        <input class="form-input" v-model="commentBody.title" type="text" name="title" placeholder="Title">
        <textarea class="form-input" v-model="commentBody.body" name="body" placeholder="Your comment"></textarea>
        <button v-if="this.$route.path  === '/'" @click="addComment" class="form-submit">Send</button>
        <button v-else @click="editComment" class="form-submit">Send</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    comment: Object
  },

  data() {
    return {
      commentBody: {
        title: '',
        body: ''
      },

      modal: false,
      invalidForm: false,
      editModal: false,
      modalEdited: false
    }
  },

  methods: {
    restartPage() {
      this.$router.go()
    },
    showModal() {
      this.modalEdited = !this.modalEdited
    },
    addComment() {
      if(this.commentBody.title != '' && this.commentBody.body != '') {
        this.$store.dispatch('ADD_COMMENT', this.commentBody)
        .then(() => {
          this.commentBody.title = '', 
          this.commentBody.body = '',
          this.modal = !this.modal
        })
      }
      else {
        this.invalidForm = !this.invalidForm
      }
    },
    editComment() {
      const payload = {
        id: this.comment.id,
        body: this.commentBody
      }
      if(this.commentBody.title != '' && this.commentBody.body != '') {
        this.$store.dispatch('EDIT_COMMENT', payload)
        .then(() => {
          this.commentBody.title = '', 
          this.commentBody.body = '',
          this.showModal()
        })
      }
      else {
        this.invalidForm = !this.invalidForm
      }      
    }
  },
  mounted() {
    this.commentBody.title = this.comment.title
    this.commentBody.body = this.comment.body
    console.log(this.$router)
  }
}
</script>

<style lang="scss" scoped>
  .comment-form {
    background-color: #1d1e25;

    &.active {
      margin-top: 5rem;

      .comment-form {
        &__wrap {
          justify-content: center;
          padding: 2rem 0;
        }

        &__edit-modal {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1000;
          background-color: #1d1e25;
          top: 0;
          left: 0;
          color: #f5f5f5;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-size: 5rem;

          button {
            text-decoration: none;
            color: #f5f5f5;
            background-color: #60e3a1;
            padding: 2rem;
            border-radius: 4px;
            border: none;
            border-radius: 4px;
            font-size: 3rem;
            margin-top: 2rem;
          }
        }


        &__title {
          display: none;

          &-comment {
            display: block;
            color: #f5f5f5;
            text-align: center;
            font-size: 5rem;
            padding-top: 2rem;
          }
        }
      }
    }

    &__modal {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: -1px;
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8rem;
      z-index: 100;
      text-align: center;

      span {
        display: block;
      }

      button {
        background-color: #60e3a1;
        border: none;
        padding: 2rem 5rem;
        font-size: 3rem;
        border-radius: 4px;
        color: #f5f5f5;
      }
    }

    &__title {
      font-size: 5.5rem;
      font-weight: 900;
      line-height: 1;
      position: relative;
      padding-bottom: 4rem;
      height: 13rem;
      margin-bottom: 2rem;

      &-comment {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30%;
        height: .5rem;
        background-color: #f9d10d;
      }
    }

    &__form {
      .form-input {
        background-color: transparent;
        color: #60e3a1;
        border: 1px solid #60e3a1;
        border-radius: 4px;
        display: block;
        width: 59.2rem;
        margin-bottom: 1.5rem;
        padding: 2rem;
        outline: none;
        max-width: 100vw;

        &:nth-child(2) {
          height: 15rem;
        }

        &::placeholder {
          color: #60e3a1;
          letter-spacing: 1px;
          font-weight: 100;
          font-family: 'Sofia Pro', sans-serif;
        }
      }

      .form-submit {
        background-color: #60e3a1;
        color: #1d1e25;
        padding: 1.5rem 5rem;
        border: none;
        border-radius: 4px;
        font-family: 'Sofia Pro', sans-serif;
        letter-spacing: 1px;
      }
    }

    &__wrap {
      max-width: 1006px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      color: #f5f5f5;
      padding: 14rem 0;
      position: relative;
    }
  }
</style>