<template>
  <footer class="footer">
    <div class="footer__wrap">
      <div class="footer__contacts">
        <ul>
          <li><a href="">mail@mailtest.com</a></li>
          <li><a href="">+30-6977664062</a></li>
        </ul>
      </div>
      <div class="footer__copywrite">Copyright © 2019 Test All Rights Reserved.</div>      
    </div>
  </footer>
</template>

<style lang="scss" scoped>
  .footer {
    background-color: #1d1e25;
    padding: 0 5rem;

    &__wrap {
      padding: 3rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #2b2c36;
    }

    &__contacts {

      ul {
        padding: 0;
      }
      li {
        list-style: none;
        margin: 0;

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }
      a {
        text-decoration: none;
        color: #f5f5f5;
      }
    }

    &__copywrite {
      color: #353743;
    }
  }
</style>