<template>
  <header class="header">
    <div class="header__logo">
      <router-link to="/">
        <img src="../assets/logo.png" alt="img">
      </router-link>
    </div>
    <nav class="header__nav">
      <ul>
        <li><a href="/#about">about us</a></li>
        <li><a href="/#comment">write comment</a></li>
        <li>
          <router-link to="/comments" active-class="active">comments</router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<style lang="scss" scoped>
  .header {
    padding: 5rem;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      li {
        text-decoration: none;
        list-style: none;
        padding: 0;
        margin: 0 4rem 0 0;
        text-transform: uppercase;
        font-size: 1.4rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: #111518;

          &.active {
            position: relative;

            &::before {
            content: '';
            position: absolute;
            top: -1rem;
            left: 50%;
            height: 2px;
            background-color: #f9d10d;
            width: 90%;
            transform: translateX(-50%);
            }  
          }
        }
      }
    }
  }
</style>