<template>
  <main class="main">
    <div class="main__title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry
    </div>
    <div class="main__image"><img src="../assets/Layer 131.jpg" alt="image"></div>
  </main>
</template>

<style lang="scss" scoped>
  .main {
    &__title {
      font-size: 7rem;
      font-weight: 300;
      max-width: 1006px;
      line-height: 1;
      margin: 0 auto;
      padding: 2rem;
      margin-bottom: 8rem;
    }

    &__image {
      width: 100vw;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
</style>