<template>
  <div id="app">
    <app-header/>
    <router-view/>
    <app-footer></app-footer>
  </div>
</template>

<script>
import appHeader from './components/AppHeader.vue'
import appFooter from './components/AppFooter.vue'
export default {
  components: {
    appHeader,
    appFooter
  }
}
</script>

<style lang="scss">
@import url('http://fonts.cdnfonts.com/css/sofia-pro');

* {
  box-sizing: border-box !important;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 300;
  margin: 0;
}

ul {
  padding: 0;
}

button {
  cursor: pointer;
}

#app {
  max-width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 6px;
  }
}
</style>
