<template>
  <main class="comments">
    <h1 class="comments__title">Comments</h1>
    <div class="comments__wrap">
      <app-comment
        v-for="comment in this.$store.getters.COMMENTS"
        :key="comment.id"
        :oneComment = 'comment'
      />
    </div>
  </main>
</template>

<script>
import appComment from '../components/AppComment.vue'
export default {
  components: {
    appComment
  },

  data() {
    return {
      comments: []
    }
  },

  mounted() {
    this.$store.dispatch('GET_COMMENTS')
  }
}
</script>

<style lang="scss" scoped>
  .comments {
    max-width: 1006px;
    margin: 0 auto;

    &__title {
      font-size: 7rem;
    }

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
</style>