<template>
  <div class="comment-page">
    <div v-if="deleteModal" class="comment-page__modal">
      Comment has been deleted
        <router-link to="/comments">
        <img src="../assets/arrow.png" alt="arrow">
        <span>Back to Comments</span>
      </router-link>
    </div>
    <div class="comment-page__nav-top">
      <router-link to="/comments">
        <img src="../assets/arrow.png" alt="arrow">
        <span>Back to Comments</span>
      </router-link>
    </div>
    <div class="comment-page__title">
      {{ this.$store.getters.COMMENT.title }}
    </div>
    <div class="comment-page__body">
      {{ this.$store.getters.COMMENT.body }}
    </div>
    <div class="comment-page__buttons">
      <button @click="commentEdit">Edit comment</button>
      <button @click="deleteComment">Delete comment</button>
    </div>
    <div class="comment-page__nav-bottom">
      <span>Lorem Ipsum is text of the typesetting industry</span>
      <br>
      <router-link to="/"><img src="../assets/arrow.png" alt="arrow">Back to homepage</router-link>
    </div>
    <div v-if="editModal" class="comment-page__modal-edit">
      <div @click="commentEdit" class="comment-page__modal-edit__close">&#10060;</div>
      <app-form :comment= "this.$store.getters.COMMENT" />
    </div>
  </div>
</template>

<script>
import appForm from '../components/AppForm.vue'
export default {
  components: {
    appForm
  },

  data() {
    return {
      deleteModal: false,
      editModal: false
    }
  },

  methods: {
    commentEdit() {
      this.editModal = !this.editModal
    },

    deleteComment() {
      this.$store.dispatch('DELETE_COMMENT', this.$route.params.id)
      .then(this.deleteModal = !this.deleteModal)
    }
  },
  mounted() {
    this.$store.dispatch('GET_COMMENT', this.$route.params.id)
  }
}
</script>

<style lang="scss" scoped>
  .comment-page {
    max-width: 1006px;
    margin: 0 auto 10rem auto;
    position: relative;

    &__modal {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      color: #f5f5f5;
      font-size: 5rem;

      a {
        background-color: #60e3a1;
        border: none;
        padding: 2rem 5rem;
        font-size: 3rem;
        border-radius: 4px;
        color: #f5f5f5;
        margin-top: 2rem;
      }

      &-edit {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -2rem;
        left: 0;
        z-index: 1000;
        background-color: #1d1e25;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__close {
          position: absolute;
          top: 2rem;
          right: 2rem;
          cursor: pointer;
        }
      }
    }

    &__buttons {
      text-align: center;

      button {
        background-color: transparent;
        font-size: 2rem;
        margin-bottom: 4rem;
        padding: 2rem 1rem;
        border-radius: 4px;

        &:nth-of-type(1) {
          color: yellowgreen;
          margin-right: 1rem;
          border: 1px solid yellowgreen;
        }

        &:nth-of-type(2) {
          border: 1px solid red;
          color: red;
        }
      }
    }

    &__body {
      letter-spacing: 1.5px;
      line-height: 1.5;
      padding-bottom: 13rem;
      border-bottom: 1px solid #ededef;
      margin-bottom: 10rem;
    }

    &__nav-bottom {
      text-align: center;

      span {
        font-size: 2.4rem;
        color: #c0c0c1;
        margin-bottom: 4rem;
        display: block;
      }

      a {
        padding: 2rem 1rem;
        border: 1px solid #60e3a1;
        border-radius: 4px;
        text-decoration: none;
        color: #1d1e25;

        img {
          margin-right: 1rem;
        }
      }
    }

    &__nav-top {
      margin-bottom: 6rem;

      img {
        margin-right: 1.5rem;
      }
      a {
        color: #111518;
      }
    }

    &__title {
      font-size: 4.8rem;
      font-weight: 700;
      margin-bottom: 8rem;
    }
  }
</style>