<template>
  <div class="home">
    <app-main/>
    <app-about/>
    <app-form/>
  </div>
</template>

<script>
import appMain from '../components/mainSection.vue'
import appAbout from '../components/AppAbout.vue'
import appForm from '../components/AppForm.vue'
export default {
  name: 'Home',
  components: {
    appMain,
    appAbout,
    appForm
  }
}
</script>
